---
import '../styles/global.css';
import Nav from '../components/Nav.tsx';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>dharma-react</title>
  </head>
  <body
    class='flex min-h-screen flex-col justify-between bg-background text-foreground antialiased dark'
  >
    <header class='sticky top-0 bg-background'>
      <Nav client:load />
    </header>
    <main
      class='flex flex-1 flex-col items-center gap-8 px-4 py-8 md:px-10 md:py-20'
    >
      <slot />
    </main>
    <footer class='p-2 text-center text-sm text-muted-foreground'>
      <a
        href='https://github.com/fransek/dharma/tree/main/packages/dharma-react#readme'
        target='_blank'
      >
        dharma-react by fransek
      </a>
    </footer>
  </body>
</html>
