---
import '../styles/global.css';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class='dark'>
    <div class='flex flex-col md:flex-row'>
      <div class='w-full overflow-auto'>
        <nav class='p-4 bg-muted'>
          <ul
            class='flex flex-row gap-4 overflow-x-auto [scrollbar-width:none]'
          >
            <li><a href='/'>dharma-react</a></li>
            <li class='border-x border-muted-foreground'></li>
            <li><a href='/counter'>Counter</a></li>
            <li><a href='/todo'>Todo</a></li>
            <li><a href='/context'>Context</a></li>
            <li><a href='/shared'>Shared</a></li>
            <li><a href='/persistent'>Persistent</a></li>
            <li><a href='/async'>Async</a></li>
          </ul>
        </nav>
        <main class='px-4 py-8 flex flex-col gap-4 items-center'>
          <slot />
        </main>
      </div>
    </div>
  </body>
</html>
