---
import '../styles/global.css';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body
    class='flex min-h-screen flex-col justify-between bg-background text-foreground antialiased dark'
  >
    <header>
      <nav class='card rounded-none border-0 border-b'>
        <ul
          class='flex flex-row gap-4 overflow-x-auto [scrollbar-width:none] text-sm'
        >
          <li><a href='/' class='font-bold'>dharma-react</a></li>
          <li><a href='/counter'>Counter</a></li>
          <li><a href='/todo'>Todo</a></li>
          <li><a href='/context'>Context</a></li>
          <li><a href='/shared'>Shared</a></li>
          <li><a href='/persistent'>Persistent</a></li>
          <li><a href='/async'>Async</a></li>
        </ul>
      </nav>
    </header>
    <main
      class='flex flex-1 flex-col items-center gap-8 px-4 py-8 md:px-10 md:py-20'
    >
      <slot />
    </main>
    <footer class='p-2 text-center text-sm text-muted-foreground'>
      <a
        href='https://github.com/fransek/dharma/tree/main/packages/dharma-react#readme'
        target='_blank'
      >
        dharma-react by Fransek
      </a>
    </footer>
  </body>
</html>
