@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap");

:root {
  --dark-color-background: hsl(222, 14%, 10%);
  --dark-color-accent: hsl(222, 14%, 15%);
}

body {
  font-family: "Geist", sans-serif;
}

code,
pre,
.tsd-signature {
  font-family: "Geist Mono", sans-serif;
  overflow: auto;
  white-space: pre;
}
