@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --sl-color-text-accent: #8a7ae2;
}
:root[data-theme="light"] {
  --sl-color-text-accent: #4d43a3;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

code,
pre {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
