---
import { Code } from 'astro/components';
import code from '../components/examples/Simple?raw';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1 class='text-3xl font-bold'>dharma-react</h1>
  <p>A simple state management library for React.</p>
  <Code code={code} lang='tsx' class='p-4 rounded-lg' />
</Layout>
