---
import { Button } from '../components/ui/button';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class='grid grid-cols-3 text-center items-center w-fit'>
    <Button id='decrement-btn'>-</Button>
    <div id='count' aria-label='count'></div>
    <Button id='increment-btn'>+</Button>
  </div>
</Layout>

<script>
  import { createStore } from 'dharma-core';

  const store = createStore({
    initialState: { count: 0 },
    defineActions: ({ set }) => ({
      increment: () => set((state) => ({ count: state.count + 1 })),
      decrement: () => set((state) => ({ count: state.count - 1 })),
    }),
  });

  const count = document.getElementById('count')!;
  const decrementBtn = document.getElementById('decrement-btn')!;
  const incrementBtn = document.getElementById('increment-btn')!;

  store.subscribe((state) => (count.innerHTML = state.count.toString()));
  decrementBtn.addEventListener('click', store.actions.decrement);
  incrementBtn.addEventListener('click', store.actions.increment);
</script>
